.btn {
    transition: background-color 0.3s ease;
    background-color: #112D4E !important;
    color: #F9F7F7 !important;
    border-color: #3F72AF !important;
    border-width: 2px !important;
    border-style: solid !important;
}

.btnClose {
    background-color: rgb(255, 45, 45) !important;
    color: white !important;

    &:hover {
        color: black !important;
    }

}



@media(min-width:768px) {

    // Mid 
    .btn-profile {
        position: relative !important;
        display: inline !important;
        // z-index: 1 !important;
        top: -105px !important;
    }

}



@media(max-width:768px) {

    // Small 
    .btn-profile {
        position: relative !important;
        display: inline !important;
        // z-index: 1 !important;
        top: -75px !important;
    }



}

@media(min-width:1199px) {

    // Large 

    .btn-profile {
        position: relative !important;
        display: inline !important;
        // z-index: 1 !important;
        top: -105px !important;
    }


}

.btn-hover:hover {
    background-color: #DBE2EF !important;
    color: #112D4E !important
}

.btn-hover2:hover {
    background-color: #DBE2EF !important;
    color: #3F72AF !important;
    border-color: #3F72AF !important;
    border-width: 1px !important;
    border-style: solid !important;
}


.btn-profile:hover {
    background-color: #DBE2EF !important;
    color: #3F72AF !important
}

.btn:hover {
    background-color: #DBE2EF !important;
    color: #3F72AF !important
}