:root {
    --scrollbar-track-color: #f1f1f1;
    --scrollbar-thumb-color: #888;
    --scrollbar-thumb-hover-color: #555;
    --owner-text-shadow-color: rgba(112, 112, 114, 0.5);
    --svg-color: #888;
}




.viewpost-comment-list {
    box-sizing: border-box;
    // margin-top: 5px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: none;
    width: 100% !important;
    height: 46vh !important;
    max-height: 100% !important;
    list-style: none;

    .no-comments {
        position: relative;
        top: 50px;
    }


    /* Hide the default scrollbar */
    &::-webkit-scrollbar {
        opacity: 0 !important;
        transition: opacity 0.3s;
    }

    /* When hovering over the container */
    &:hover {
        &::-webkit-scrollbar {
            opacity: 1;
        }
    }

    li {
        margin-top: 20px;
    }

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: var(--scrollbar-track-color);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb-hover-color);
    }

    .comments-card {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        // border-bottom: 1px rgba(0, 0, 0, 0.1) solid;

        // box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);

        .owner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: -30px;
            font-weight: 600;
            padding-top: 5px;
            text-shadow: 0px 1px 0px var(--owner-text-shadow-color);

            SVG {
                color: var(--svg-color);
                margin: 5px;
            }

            .details {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }

        .comment-content {
            font-family: sans-serif;
            font-size: 14px;
            margin-top: -12px;
            padding-left: 4px;
            padding-right: 4px;
            margin-left: 40px;
            font-weight: 400;
        }
    }
}

.comment-input {
    display: flex;

    align-items: center;
    margin-top: 30px;
    border-radius: 40px;

    input {
        flex: 1;
        padding: 10px;
        border: 1px solid #888;
        border-radius: 40px;
    }

    button {
        background-color: #888;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px;
        margin-left: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 40px;

        &:hover {
            background-color: #555;
        }
    }

}