.card{
    width: 39.7vw;
}

.card-ch-li{
    box-shadow: 6px 3px 15px rgb(143, 143, 143);
}

// .col-md-5-img{
//     width: 50%;
// }

// .col-md-5-body{
//     width: 50%;
// }

.card-body{
    // width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.card-buttons{
    text-align: right;

    & button{
        border: none;
        margin-left: 10px;
        
        &:hover{
            background-color: #7996ff!important;
        }
    }
}

// .card-img-top{
//     width: 100%;
//     // height: 275px;
//     object-fit: cover;
// }

// .col-md-4{
//     width: 50%;
//     img{
//     }
// }

.card-title{
    font-weight: bold;
}

.card-buttons-cl{
    button{
        padding: 5px 15px;
    }
}