.chat-page{
     display: flex;
     justify-content: flex-end;
     // justify-content: center;

     // align-items: center;
     width: 100%;
     height: 96vh;
     padding:  5px 20px;
}
.ChatList{
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     background-color: white;
     border-radius: 8px;
}

.ChatList-cont{
     overflow-y: scroll;
     max-height: 85vh;
}

.ChatList-cont::-webkit-scrollbar {
     width: 7px;
   }

.ChatList-cont::-webkit-scrollbar-thumb {
     background-color: #b6b2b2dd; 
     border-radius: 20px; 
}

.list-item{
     padding:  10px;
     border-radius: 15px;
     color: #112D4E;
     background-color: white;
     // background-color: #3F72AF;
}

.list-item.active{
     background-color: #3F72AF;
     color: white;
}

.chat_search_btn{
     color: #3F72AF !important;
}
.chat_search_btn:hover{
     background-color: #3F72AF !important;
     transition: 0.2s ease-in;
     color: white !important;
     .chat_search_icon{
          color: white;
     }
}

.empty_list{
     width: 100%;
     height: 200px;
     margin-top: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     .empty_list_img{
          width: 70%;
          height: 100%;
          opacity: 0.8;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url('https://t4.ftcdn.net/jpg/04/19/31/45/240_F_419314590_DGPnGN36dxEbdNXRChpQ3MLAlguqurby.jpg');
     }
     p{
          width: 70%;
          color: '#3F72AF';
     }
}

.chat-title{
     // align-self: flex-start;
    font-weight: 900;
    font-size: 20px;
//     margin-left: 10px;
    background-color: #3F72AF;
    color: white;
    border-radius: 10px;
    padding: 5px 0;
}
