.result-container{
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.top-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.search-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-users-outer-flex{
    width: 100%;
    display: flex;
    justify-content: start;
}

.all-users-inner-flex{
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}