.custome-layout {
    .children-layout {
        padding-left: 40px;
        width: 88%;
        // margin-left: 350px;

        .children-scrollable {
            padding-top: 20px;
        }
    }

    .side-nav-layout {
        // height: 100vh;
        position: fixed;
    }


}


@media(min-width:768px) {

    // Mid 
    .custome-layout {
        .side-nav-layout {
            // height: 100vh;
            position: fixed;
        }

        .children-layout {
            margin-left: 150px;
        }
    }
}



@media(max-width:768px) {

    // Small 
    .custome-layout {
        .side-nav-layout {
            position: unset;
            position: relative;
            z-index: 1;
        }

        .children-layout {
            margin-left: unset;
            margin-top: 30px;

            .children-scrollable {
                padding-top: 10px;
            }
        }
    }

}

@media(min-width:1199px) {

    // Large 
    .side-nav-layout {
        // height: 100vh;
        position: fixed;
    }

    .children-layout {


        margin-left: 200px !important;

        .children-scrollable {
            // padding-top: 10px;
        }
    }
}