.searchbox-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-spacing: 6px;
    margin-top: 10%;
}

.search-des_first-paragraph{
  margin-bottom: 30px !important;
}

.search-des{

    display: flex;
    flex-direction: column;
    align-items: start;

    &_first-paragraph{
        margin: 0;
    }

    &_span{
        font-weight: bold;
        font-size: 27px;
    }
}

.search-bar {
  width: 70%;
  display: flex;
  align-items: center;
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.search-bar input {
  width: 100%;
  background-color: transparent;
  border: none;
}

.search-bar input:focus {
  outline: none;
}

.search-icon {
    margin: 0 10px;
}
