.home-page{
     width: 100%;
     min-height: 80vh;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-direction: column;
     gap: 50px;
}
.header_in{
     height: 60px;
     // background: rgb(63,114,175);
     // background: linear-gradient(90deg, rgba(63,114,175,0.7596288515406162) 0%, rgba(219,226,239,1) 100%, rgba(249,247,247,1) 100%);
     // background: rgb(50,70,68);
     // background: linear-gradient(90deg, rgba(50,70,68,1) 0%, rgba(219,226,239,1) 100%, rgba(249,247,247,1) 100%);
}