.category-container-viewpost {
    // width: 120% !important;
    // box-sizing: border-box;
    // display: block;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    // gap: 1px;
    margin-left: -40px;

    .category-card {
        font-weight: 1000;
        margin-left: 5px;
        font-size: 12px;
        width: 22%;
        height: 10%;
        padding: 3px 1px;
        list-style: none;
        border: 1px solid #112D4E;
        color: #112D4E;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
        box-shadow: 0 5px 10px rgba(63, 114, 175, 0.1);
        letter-spacing: 2px;

        &:hover {
            cursor: pointer;
            border: 1px solid transparent;
            color: #DBE2EF;
            background-color: #3F72AF;
        }
    }
}