.category-container-viewpost {
    // width: 120% !important;
    // box-sizing: border-box;
    // display: block;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    // gap: 1px;
    margin-left: -40px;
    .category-card {
        font-weight: 1000;
        font-size: 12px;
        width: 22%;
        height: 10%;
        padding: 3px 1px;
        list-style: none;
        background-color: #f0f0f0;
        border: none;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
        &:hover {
            cursor: pointer;
            background-color: rgb(214, 213, 213);
        }
    }
}