.hero-main{
     background-image: url('./pexels-隔壁光头老王-wangming\'photo-354939.jpg');
     width: 100%;
     height: 100vh;
     background-size: cover; /* This will make sure the image covers the entire container */
     background-position: center; /* This will center the image within the container */
     background-repeat: no-repeat;
     padding: 20px;
     position: relative;
     .hero-cont{
          display: flex;
          justify-content: center;
          align-items: center;
          // width: 60%;
          height: 100%;
          .hero-content{
               display: flex;
               justify-content: center;
               align-items: flex-start;
               flex-direction: column;
               // width: 70%;
               padding: 10px;
               color: white;
               text-align: start;
               font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
               gap: 10px;

               h2{
                    // font-size: 40px;
                    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;

               }
               
               button{
                    width: 200px;
                    height: 50px;
                    border-radius: 25px;
                    span{
                         font-size: 20px;
                    }
               }
          }

     }
}

.Section_one-main{
     width: 100%;
     min-height: 500px;
     display: flex;
     justify-content: center;
     align-items: center;
     .Section_one-cont{
          width: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 60px;
          height: 100%;
          .Section_one-cards{
               display: flex;
               justify-content: center;
               align-items: center;
               gap: 25px;
               flex-wrap: wrap;
               width: 100%;
               .Section_one-card{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 20px;
                    width: 300px;
                    text-align: center;
                    p, h2 {
                         text-align: start;
                         font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;

                    }
                    h2{
                         font-size: 26px;
                    }
               }
          }
     }
}

.Section_Two_main{
     width: 100%;
     // height: 400px;
     background-image: url('./assets/pexels-eberhard-grossgasteiger-2098428.jpg');
     background-size: cover; 
     background-position: center; 
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;
     .Section_Two_cont{
          width: 50%;
          height: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 20px;
     }
     .Section_Two_icon{
          // background-color: rgb(12, 239, 232);
          background-color: rgb(255 117 12);
          // width: 100px;
          // height: 100px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          // font-size: 70px;
     }
     .Section_Two_Heading{
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          h1{

               // font-size: 50px;
               font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
          }
     }
}

.Section_Three_main{
     width: 100%;
     min-height: 900px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     .Section_Three_cont{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          max-width: 1200px;
          height: 100%;
          gap: 30px;
          // flex-wrap: wrap;
          .Section_Three_Photos_1{
               display: flex;
               justify-content: center;
               align-items: center;
               width: 100%;
               gap: 10px;
               flex-wrap: wrap;

               div{
                    background-size: cover;
                    background-position: center; 
                    background-repeat: no-repeat;
                    width: 250px;
                    height: 350px;
               }
          }
          .Section_Three_Photos{
               display: flex;
               justify-content: center;
               align-items: center;
               // flex-direction: column;
               width: 100%;
               height: 80%;
               gap: 20px;
               
          }
     }
}

.Section_Four_main{
     width: 100%;
     // height: 400px;
     background-image: url('./assets/pexels-elijah-o\'donnell-3473569.jpg');
     background-size: cover; 
     background-position: center; 
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;
     .Section_Four_cont{
          width: 50%;
          height: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 20px;
     }
     .Section_Four_icon{
          // background-color: rgb(12, 239, 232);
          background-color: rgb(69, 69, 124);
          // width: 100px;
          // height: 100px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          // font-size: 60px;
          color: white;
     }
     .Section_Four_Heading{
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          h1{

               // font-size: 50px;
               font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
          }
     }
}

.Section_Five_main{
     width: 100%;
     height: 600px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

     .Section_Five_cont{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 30px;
          width: 70%;
          height: 100%;
     }
     .Section_Five_heading{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 15px;
          // width: 70%;
          h2{
               // font-size: 30px;
          }
          button{
               border-radius: 30px;
               // width: 200px;
               // height: 60px;
               font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
               // font-size: 24px;
               background-color: rgba(0, 0, 0, 0.864) ;
               color: white;
          }
     }
     .Section_Five_img{
          background-size: cover; 
          background-size: contain; 
          background-position: center; 
          background-repeat: no-repeat;
          // width: 650px;
          // height: 300px;
     }
}

.Section_Six_main{
     width: 100%;
     // height: 400px;
     background-image: url('./assets/pexels-julia-larson-6456264.jpg');
     background-size: cover; 
     background-position: center; 
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;
     
     .Section_Six_cont{
          width: 50%;
          height: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 20px;
     }
     .Section_Six_icon{
          background-color: rgb(228, 64, 89);
          // width: 100px;
          // height: 100px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          // font-size: 60px;
          color: white;
     }
     .Section_Six_Heading{
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          h1{

               // font-size: 50px;
               font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
          }
     }
}

.Section_Seven_main{
     width: 100%;
     min-height: 600px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     .Section_Seven_cont{
          width: 90%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 100px;
          .Section_Seven_img_cont{
               // width: 600px;
               // height: 500px;
               .Section_Seven_img{
                    background-size: contain; 
                    background-position: center; 
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
               }
          }
          .Section_Seven_icon{
               display: flex;
               justify-content: center;
               // align-items: flex-start;
               flex-direction: column;
               // width: 600px;
               gap: 15px;
               p{
                    // text-align: start;
                    // font-size: 18px;
               }
               h2{
                    // font-size: 40px;
               }
               button{
                    border-radius: 30px;
                    // width: 200px;
                    // height: 60px;
                    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
                    // font-size: 24px;
                    background-color: rgba(0, 0, 0, 0.864);
                    color: white;
               }
          }
     }
}

.Section_Eight_main{
     width: 100%;
     min-height: 350px;
     background-color: rgb(69, 69, 124);
     display: flex;
     justify-content: space-between;    
     align-items: center;
     flex-direction: column;
     padding-top: 30px;
     
     .Section_Eight_icon{
          // width: 60%;
          height: 60%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 15px;
          padding-bottom: 30px;
          p{
               font-size: 18px;
               color: white;
          }
          h2{
               // font-size: 35px;
               color: white;
          }
          button{
               border-radius: 30px;
               // width: 200px;
               // height: 50px;
               font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
               // font-size: 24px;
               background-color:white;
               color: rgba(0, 0, 0, 0.864);
          }
     }
}