.phone-item {
    .phone-nav-header {

        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .phoneLogo {

        margin-left: 20px;
    }
}