.phone-item {
    display: none;
}

.parent-profile {

    display: flex;
    justify-content: flex-start;

    position: relative;

    // top: 100px;

    img,
    Avatar {
        position: relative;
        border-radius: 100%;
        width: 5vh;
        height: 5vh;
        top: 30px;
        margin-left: 26px;
        border: 2px solid transparent;
        // margin-top: 200px;
    }

    &:hover {

        img,
        Avatar {
            border: 2px solid white;
        }
    }
    div {
        margin-top: 20px;
        margin-left: -50px;
    }

    img:hover,
    Avatar:hover {
        background-color: transparent;
    }

    &:hover {
        background-color: transparent;
    }

}

@media (min-width: 1199px) {

    // large
    .parent-profile {
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative !important;
        top: 30vh !important;



        img,
        Avatar {
            position: relative;
            border-radius: 100%;
            width: 5vh;
            height: 5vh;
            top: 5px;
            margin-left: 26px;
            // margin-top: 200px;
        }

        div {
            margin-top: 20px;
            margin-left: -10px;
        }

        img:hover,
        Avatar:hover {
            background-color: transparent;
        }

        &:hover {
            background-color: transparent;
        }

    }


}


@media (min-width: 768px) {

    // mid
    .parent-profile {

        img,
        Avatar {
            // all: unset;
            position: relative;
            border-radius: 100% !important;
            width: 7vh;
            height: 7vh;
            left: -13px;
        }
    }
}



@media (max-width: 767px) {
    .phone-item {
        display: block;
    }

    // small
    .parent-profile {
        all: unset;
        justify-content: center;
        padding: unset;

        &:hover {

            background-color: transparent;


            all: unset;
        }

        img,
        Avatar {
            top: unset !important;
            padding: unset !important;
            border-radius: 100% !important;
            width: 5vh !important;
            height: 5vh !important;
            margin-left: -10px !important;
        }

    }
}