.App {
    text-align: center;
    scroll-behavior: smooth;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 10px;
    margin-top: 40px !important;
}

::-webkit-scrollbar-track {
    margin-top: 80px !important;
    border-radius: 2px;
    background-color: transparent;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 2px;
    transition: background 0.3s;
}


html {
    background-color: #F9F7F7;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

html:hover {
    ::-webkit-scrollbar-thumb {
        background: rgba(63, 114, 175, 0.4);
    }

    ::-webkit-scrollbar-track {
        background: #DBE2EF;
    }

}

/* On hover, make the scrollbar handle and track visible */
/* Set the opacity to 1 on hover to make the scrollbar visible */
html:hover ::-webkit-scrollbar-thumb,
html:hover ::-webkit-scrollbar-track {
    opacity: 1;
}