.category-container{
    display: flex;
    flex-wrap: wrap;
    .category-card{
        list-style: none;
        width: 200px;
        height: 200px;
        border: #003 solid 1px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}