.posts {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    // margin: 6% 0;
    padding-left: 7%;
    justify-content: flex-start; //start from the center
}