.posts {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    // margin: 6% 0;
    padding: 7%;
    // justify-content: center; //start from the center
}

// .posts {
//     width: 100%;
//     display: flex;
//     gap: 10px;
//     flex-wrap: wrap;
//     align-items: center;
//     // margin: 6% 0;
//     padding-left: 7%;
//     justify-content: flex-start; //start from the center
// }
    // padding-left: 7%;
    // justify-content: flex-start; //start from the center
// }
