/* Define other SCSS styles as needed */
.viewpost-grandparent {
    max-height: 50% !important;
    max-width: 80% !important;
}

.div-handler {
    display: block !important;
    height: 100% !important;
    // width: 600px !important;
    max-height: 100% !important;
    max-width: 100% !important;
}

.model-parent-viewpost {
    // max-width: 0% !important;
    // all: unset !important;
    max-width: 65% !important;
    max-height: 100% !important;
}

.viewpost-header {}

.viewpost-no-space {
    margin: 0 !important;
    padding: 0 !important;
}


$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1200px;

@media (max-width: $small-screen) {

    // Styles for small screens

    .viewpost-grandparent {
        max-height: 100% !important;
        max-width: 80% !important;
        background-color: aqua;
    }

    .div-handler {
        display: block !important;
        height: 100% !important;
        max-height: 100% !important;
        background-color: aqua;
        max-width: 100% !important;
    }

    .model-parent-viewpost {
        max-width: 95% !important;
        background-color: aqua;
        max-height: 200% !important;
    }

    .viewpost-no-space {
        margin: 0 !important;
        padding: 0 !important;
    }

}

@media (min-width: $medium-screen) {

    // Styles for medium screens
    .viewpost-grandparent,
    .div-handler,
    .model-parent-viewpost {
        max-height: 100% !important;
        max-width: 100% !important;
    }

    .viewpost-grandparent {
        width: 100% !important;
    }

    .div-handler {
        width: 100% !important;
    }

    .model-parent-viewpost {
        width: 100% !important;
    }
}

@media (min-width: $large-screen) {

    // Styles for large screens
    /* Define other SCSS styles as needed */
    .viewpost-grandparent {
        max-height: 50% !important;
        max-width: 80% !important;
    }

    .div-handler {
        display: block !important;
        height: 100% !important;
        // width: 600px !important;
        max-height: 100% !important;
        max-width: 100% !important;
    }

    .model-parent-viewpost {
        // max-width: 0% !important;
        // all: unset !important;
        max-width: 65% !important;
        max-height: 100% !important;
    }

    .viewpost-header {}

    .viewpost-no-space {
        margin: 0 !important;
        padding: 0 !important;
    }


}